.home-section {
  width: 85%;
  margin-left: 16% !important;
  margin: 1rem;
}
#row {
  gap: 1rem;
}

.col-xl-3 {
  width: 24%;
}

@media (max-width: 1450px) {
  .row .col-md-6 {
    width: 49%;
  }
}
.home-heading {
  font-weight: 700;
  margin: 1rem 0rem;
}

.home-card {
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 2px 6px 5px -2px #cccbcbcf;
}
.home-body {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-col {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card-name {
  font-size: 0.9rem;
  font-weight: 600;
}
.card-value {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0d6efd;
}
.up-icons {
  color: rgb(36 207 36);
  font-size: 0.9rem;
  font-weight: 600;
}
.down-icons {
  color: red;
  font-size: 0.9rem;
  font-weight: 600;
}
.growth {
  font-size: 0.9rem;
  font-weight: 600;
}
.circle {
  background-color: #0d6efd24;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  font-size: 1.5rem;
  color: #0d6efd;
}
