@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.App{
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.header{
	margin: 0;
	left: 0;
	position: fixed;
    min-height: 100vh;
    align-items: center;
	width:15%;
    
	
   justify-content: space-between;
   background-color: white;
  z-index: 99;
 }
 ul li{
	list-style: none;
 }
 .header_search{
	justify-content: center;
	width:100%;
 }
 #menu{
	width:100%;
	padding:0px;
 }
 li .nav-link:hover{
	background-color:#0d6efd !important;
	color:white !important;
 }
 .nav-link{
	border-bottom: 1px solid #eaeaea;
	font-size: 1.2rem;
    padding: 1rem;

 }

 



.header__nav {
    display: flex;
    justify-content: space-evenly; 
 }

 .hamburger{
    display: none;
    margin: 10px;
}
.logo{
	border-bottom: 1px solid #eaeaea;

}
.logoimg{
	width:100%
}
.login-btn{
	position:fixed;
	bottom:0px;
	width:15%;
}
.btn-login{
	border: none;
    background: #fffefe;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid #eaeaea;
    color: #0d6efd ;
	width:100%;
}






@media screen and (max-width: 1250px){
  
	.header{
		margin: 0;
		left: 0;
		min-height: 50px;
		align-items: center;
		width: 100%;
		display: flex;
	   justify-content: space-between;
	   background-color: #e6e6e6;
	   color: black;
	 }

	 
 #imgl{
	width: 50%;
	 }
	
	   .nav-menu {
		margin-right: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		width: 80%;
		height: 100vh;
		background-color: #e6e6e6;
		position: absolute;
		top: 65px;
		left: -100%;
		z-index: 999;
		transition: 0.3s;
		color: black;
	   }
	   .nav-menu.active{
		left: 0;
	}
	   .nav-menu li {
		padding: 1rem 0;
	   }
	   .nav-menu li a {
		font-size: 20px;
		display: initial;
		text-decoration: none;
		
		
	   }
	   .nav-menu li a:hover {
		color: #000;
	   }
	
	
	.hamburger{
		display: initial;
	}
	}
	
	